input_driver = "udev"
input_device = "gpio-keys"
input_vendor_id = "1"
input_product_id = "1"

# Face buttons (BTN_SOUTH=0, BTN_EAST=1, BTN_NORTH=2, BTN_WEST=3)
input_b_btn = "0"
input_a_btn = "1"
input_y_btn = "2"
input_x_btn = "3"

# Shoulders
input_l_btn = "4"
input_r_btn = "5"
input_l2_btn = "6"
input_r2_btn = "7"

# Select / Start
input_select_btn = "8"
input_start_btn = "9"

# Thumbsticks
input_l3_btn = "11"
input_r3_btn = "12"

# D-pad
input_up_btn = "13"
input_down_btn = "14"
input_left_btn = "15"
input_right_btn = "16"
