input_driver = "udev"
input_device = "r36s_Gamepad"
input_vendor_id = "1"
input_product_id = "4488"

# Face buttons
input_a_btn = "1"
input_b_btn = "0"
input_x_btn = "2"
input_y_btn = "3"

# D-pad
input_up_btn = "13"
input_down_btn = "14"
input_left_btn = "15"
input_right_btn = "16"

# Shoulders
input_l_btn = "6"
input_r_btn = "7"
input_l2_btn = "4"
input_r2_btn = "5"

# Thumbsticks
input_l3_btn = "11"
input_r3_btn = "12"

# Select / Start
input_select_btn = "8"
input_start_btn = "9"

# Analog sticks
input_l_x_plus_axis = "+0"
input_l_x_minus_axis = "-0"
input_l_y_plus_axis = "+1"
input_l_y_minus_axis = "-1"
input_r_x_plus_axis = "+2"
input_r_x_minus_axis = "-2"
input_r_y_plus_axis = "+3"
input_r_y_minus_axis = "-3"
